[Desktop Entry]
Name=Default
Comment=An intelligent dynamic tiling Wayland compositor
Exec=uwsm start -- hyprland.desktop &> /dev/null
TryExec=uwsm
DesktopNames=Hyprland
Type=Applicantion
